<?xml version="1.0"?>
<config>
    <modules>
        <Kkrieger_Navlinks>
            <version>0.1.0</version>
        </Kkrieger_Navlinks>
    </modules>
    <global>
        <blocks>
            <kkrieger_navlinks>
                <class>Kkrieger_Navlinks_Block</class>
            </kkrieger_navlinks>
        </blocks>
        <helpers>
            <kkrieger_navlinks>
                <class>Kkrieger_Navlinks_Helper</class>
            </kkrieger_navlinks>
        </helpers>
        <models>
            <kkrieger_navlinks>
                <class>Kkrieger_Navlinks_Model</class>
            </kkrieger_navlinks>
        </models>
        <resources>
            <kkrieger_navlinks_setup>
                <setup>
                    <module>Kkrieger_Navlinks</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </kkrieger_navlinks_setup>
        </resources>
        <events>
            <catalog_category_collection_load_before>
                <observers>
                    <kkrieger_navlinks_load_subcategories_before_load_observer>
                        <type>singleton</type>
                        <class>kkrieger_navlinks/observer</class>
                        <method>addAttributeToSelect</method>
                    </kkrieger_navlinks_load_subcategories_before_load_observer>
                </observers>
            </catalog_category_collection_load_before>
        </events>
    </global>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <external_link/>
                </attributes>
            </collection>
        </category>
        <layout>
            <updates>
                <kkrieger_navlinks>
                    <file>kkrieger_navlinks.xml</file>
                </kkrieger_navlinks>
            </updates>
        </layout>
    </frontend>

</config>